* {
    padding: 0;
    margin: 0;
}
@media (max-width: 768px){
    .container, .form-control, .btn{
        font-size: 13px !important;
    }
}
body {
    font-family: 'Open Sans' !important;
}
h2 {
    font-family: 'Gotham';
}

.mb-3 a{
    color: #208aae;
}

#btn{
    background-color: #208aae;
}
#btn:hover {
    background: #0D2149;
}
