.feedback-container {
    max-width: 600px;
    margin: 20px auto;
    font-family: Open Sans;
}
.feedback-item {
    background-color: #208aae !important;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.feedback-item h4 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #FFFFFF;
}
.feedback-item p {
    margin: 10px 0 0 0;
    padding: 0;
    color: #FFFFFF;
    font-size: 20px;
}